<a href="{% url 'blog:home' %}">Hola, visita mi blog</a>
<br>
{% for post in posts %}
<a href="{% url 'blog:detail' post.id %}">{{post.title}}</a>
<a href="{% url 'blog:update' post.id %}">Update</a>
<a href="{% url 'blog:delete' post.id %}">Delete</a>
{% endfor %}
<br>
<a href="{% url 'blog:create' %}">Crear un post</a>
